li {
    display: flex;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    margin-left: 0;
}


li:not(:first) {
    margin: 10px;
}

p.completed {
    text-decoration: line-through;
}

input.checkbox {
    background-color: ivory;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    height: 24px;
    width: 1em;
    margin: 0;
    padding: 0;
}

button.completed {
    height: 20px;
    align-self: center;
    margin-left: auto;
    text-decoration:none;

}

button.uncompleted {
    display: none;
    margin-right: 0;
    
}